<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Programa rehabilitació</title>
  <style>
    <%= Rails.application.assets.find_asset('application.scss').to_s %>
  </style>
</head>
<body>
<div style="height: 40px;">
	<div class="via-edifici" style="float:right; color:#999999; font-size: 10px; margin-top: 6px;">
		
		Hola
	</div>
</div>