<div class="projectes-background">
	<div class="row">
		<div class="medium-12 columns">
	    <div class="projectes-external-container">
	      <div class="projectes-title-container">
	        <span class="projectes-title">Error en la generació de la factura</span>
	      </div>
	      <div class="projectes-form-container">
					<p>S'ha produït un error en la generació de la factura. Poseu-vos en contacte amb l'àrea tècnica del CAATEEB.</p>
				</div>
			</div>
		</div>
	</div>
</div>
