<div class="dark-background-container">
  <div class="row">
    <div class="medium-6 medium-offset-3 columns">
      <div class="heavy-container">
        <div class="heavy-title-container">
          <h2 class="heavy-title"><%= t('.titol') %></h2>
        </div>
        <div class="heavy-container-form">
					<p><%= t('.text_permisos') %></p>
				</div>
			</div>
		</div>
	</div>
</div>
