	<div class="row">
		<div class="medium-12 columns">
			<div class="menu-seccio">
				<ul>
					<li><%= link_to(t('.info_previa'), edit_planificacio_path(@edifici.id), :class => 'seccio-submenu-link') %></li>
					<li><%= link_to(t('.planificacio_fases'), fases_planificacio_path(id: @edifici.planificacio.id, edifici_id: @edifici.id), :class => 'seccio-submenu-link') %></li>
					<li><%= link_to(t('.calendari'), calendari_path(id: @edifici.planificacio.id, edifici_id: @edifici.id), :class => 'seccio-submenu-link') %></li>
				</ul>
			</div>
		</div>
	</div>