// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imatge-document {
	max-width: 100px;
	margin-bottom: 20px;
}

// Vista impressió PDF

.pdf-container {
	font-family: "Calibri", Helvetica, Roboto, Arial, sans-serif;
	font-size: 10px;
}

.salt-pagina {
	display: block;
	clear: both; 
	page-break-after: always;
}

.indivisible {
	page-break-inside: avoid;
}

h1.titol-document {
	font-family: "Calibri", Helvetica, Roboto, Arial, sans-serif;
	font-size: 2em;
	font-weight: bold;
}

h2.subtitol-document {
	font-family: "Calibri", Helvetica, Roboto, Arial, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	color: #760A09;
}

.text-ressaltat {
	font-weight: bold;
	font-size: 1.1em;
}

.cell-ressaltat {
	background-color: #eaeaea;
}

h3.titol-apartat {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.separacio-gran {
	height: 300px;
}

.dades-portada {
	text-align: right;
}

.titol-seccio-document {
	font-size: 2em;
	font-weight: bold;
}

.subtitol-seccio-document {
	font-size: 1.6em;
	font-weight: bold;
}

.titol-apartat-document {
	font-size: 1.3em;
}

.separador {
	clear: both;
	height: 30px;
}

.columnes {
	clear: both;
}

.columna-esquerra {
	float: left;
}

.columna-dreta {
	margin-left: 400px;
}

.columna-mig {
	margin-left: 150px;
	float: left;
}

span.negreta {
	font-weight: bold;
}

.taula-container {
	page-break-inside: avoid;
}

.taula-dades {
	border: 1px solid #CCCCCC;
	width: 100%;
	margin-bottom: 0px;
	border-collapse: collapse;
}

.header-cell {
	padding: 0px 5px;
	border: 1px solid #ccc;
}

.header-cell-columna {
	padding: 0px 5px;
	border: 1px solid #ccc;
	text-align: left;
}

.body-cell {
	padding: 0px 5px;
	border: 1px solid #ccc;
}

.intervencio-header-cell {
	text-align: left;
	padding: 0px 0px 0px 5px;
	border: 1px solid #ccc;
	border-bottom: 1px solid #666;
}

.text-subratllat {
	text-decoration: underline;
}

.separacio-costos {
	border-bottom: 1px solid #666;
	height: 2px;
	padding: 0px;
}

.import-monetari {
	text-align: right;
}

.separador-observacions {
	clear: both;
	height: 10px;
}

.titol-notes {
	color: #760A09;
}

.item-notes {
	font-style: italic;
}

.numero-nota {
	color: #760A09;
	font-size: 0.8em;
}

table.calendari-pdf {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.ingressos-link {
	color: #333333;
}

.calendari-cell {
	text-align: right;
}
