// Place all the styles related to the UsuariFactures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-factura-item {
	display: block;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}

.ressaltat {
	font-weight: bold;
}

.dades-info {
	background-color: #eaeaea;
	padding: 20px;
	border-radius: 5px;
	margin: 20px 0px;
}