<p>Hola <%= @resource.email %>!</p>

<p>Has sol·licitat un canvi de contrasenya. Pots realitzar-lo clicant en el següent enllaç.</p>

<p><%= link_to 'Canviar la contrasenya', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has demanat un canvi de contrasenya ignora aquest correu.</p>
<p>La teva contrasenya no canviarà fins que no cliquis a l'enllaç superior i en creïs una de nova.</p>
